body {
  overflow-x: hidden;
  height: 100%;
}

.L{
  position: absolute;
  left: 12%;
}

.C{
  float: none;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
}

.R{
  position: absolute;
  float: right;
  right: 12%;
}
.gmInfo{
  font-family:Arial;
  font-weight: 300;
  font-size: 28px;
  margin-top: 180px;
  color:#fdf7ef;
  cursor: pointer;
}

.gmInfo::after {
  position: relative;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.gmInfo:hover::after {
  width: 100%;
  transition: width .3s;
}
.SCart{
  position: absolute;
  top: 6px;
  right: 40px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.cart-count{
  position: absolute;
  right:22px;
  top: 1px;
  border:solid 1px red;
  border-radius:50%;
  background-color:red;
  height:18px;
  width: 20px;
  color:white;
  font-family:sans-serif;
  font-size:14px;
  font-weight: lighter;
  text-align: center;
}
