body {
  overflow-x: hidden;
  height: 100%;
}

.L{
  position: absolute;
  left: 12%;
}

.C{
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.R{
  position: absolute;
  float: right;
  right: 12%;
}
.gmInfo{
  font-family:Arial;
  font-size: 28px;
  margin-top: 180px;
  color:#fdf7ef;
  cursor: pointer;
}

.gmInfo::after {
  position: relative;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.gmInfo:hover::after {
  width: 100%;
  transition: width .3s;
}
