.container {
  position: relative;
  width: 360px;
  height: 360px;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(194, 115, 141, 0.5);
}
.selection{
  height: 75%;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay table {
  width: 100%;
  height: 100%;
}

.productName, .productPrice {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24px;
}

.productName {
  top: 15%;
  font-family: "Georgia", serif;
}

.productPrice {
  top: 50%;
}

.buyBut {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -10%);
  width: 90%;
  height: 20%;
  background-color: transparent;
  border: 1px solid rgba(237, 200, 205);
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  color: white;
  font-size: 24px;
  font-weight: 250;
  word-spacing: -3px;
  z-index: 30;
}

.buyBut:hover {
  background-color: rgba(237, 200, 205);
}
